@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    border-bottom: 1px solid #bfbebb;
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 39px 39px;
    text-decoration: none;
    font-weight: 500;
  }
  
.nav li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
  }

  .nav .title a{
    font-family: 'Krona One', sans-serif;
    color: black;
    font-size: 2em;
    padding: 27px 65px;
    text-align: center;
    display: block;
  }

  .nav .title a:hover{
    text-decoration: none;
  }

  .options{
    padding-left: 48em;
  }